.about-wrap {
  position: relative;
  display: grid;
  padding: 0;
  grid-template-columns: repeat(2,minmax(auto,1fr));
  grid-column-gap: 20px;
  grid-column: span 2;

  @media (min-width: 984px) {
    grid-template-columns: repeat(8, minmax(auto, 1fr));
    grid-column-gap: 30px;
    grid-column: span 8;
  }
}

.about-inner {
  position: relative;
  display: block;
  grid-column: span 2;
  padding-top: 35px;

  @media (min-width: 984px) {
    grid-column: span 8;
    padding-top: calc(117px + 70px);
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8,minmax(auto,1fr));
    justify-content: space-between;
    grid-column-gap: 30px;
  }
}

.about-extra-text {
  &--wrap {
    display: none;
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'onum' on;
    color: #FFFFFF;

    @media (min-width: 984px) {
      display: block;
      position: relative;
      font-size: 18px;
      line-height: 24px;
      grid-column: 6/9;
      grid-row: 1;
      width: calc(100% + 30px);
      left: -30px;
    }

    p {
      margin: 0;
    }
  }
}

.about-section--name-wrap {
  display: block;
  position: relative;
  grid-column: span 2;

  @media (min-width: 984px) {
    grid-column: 1;
  }
}

.about-section--name {
  display: none;
  position: relative;
  font-family: Editorial Grotesk ;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-feature-settings: 'tnum' on, 'onum' on;
  color: #FFFFFF;

  &.is-partners {
    display: block;
    padding-bottom: 40px;
  }

  &.is-lineup {
    display: block;
    padding-left: 95px;
  }

  @media (min-width: 984px) {
    display: block;
    grid-column: 1;
    position: absolute;
    transform: translate(-50%,0) rotate(-90deg);
    transform-origin: top center;
    top: calc(190px + 187px);
    height: 48px;
    width: 380px;
    text-align: right;
    font-size: 52px;
    line-height: 48px;

    &.is-lineup {
      top: calc(150px + 190px);
    }

    &.is-partners {
      top: 190px;
      padding-bottom: 0px;
      padding-left: 0;
    }
  }

}

.about-title {
  &--wrap {
    position: relative;
    display: block;
    margin-left: 83px;
    margin-bottom: 53px;

    @media (min-width: 984px) {
      margin-left: 0px;
      margin-bottom: 0px;
      grid-column: 2/5;
      grid-row: 1;
    }
  }

  &--name {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 60px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'onum' on;
    color: #fff;

    @media (min-width: 984px) {
      font-size: 88px;
      line-height: 88px;
    }

    br {
      @media (min-width: 984px) {
        display: none;
      }
    }
  }

  &--address-wrap {
    position: relative;
    display: flex;
    padding-top: 50px;
  }

  &--mutabor {
    position: relative;
    display: block;
    padding-right: 20px;

    @media (min-width: 984px) {
      padding-right: 55px;
    }

    svg {
      position: relative;
      display: block;
      width: 100%;
    }
  }

  &--address {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;

    @media (min-width: 984px) {
      font-size: 22px;
      line-height: 27px;
    }

    span:nth-of-type(2) {
      color: #fff;
    }
  }
}

.about-text {
  &--wrap {
    position: relative;
    display: block;

    @media (min-width: 984px) {
      grid-column: span 8;
      grid-row: 3;
    }
  }

  &--self {
    position: relative;
    display: block;
    margin-left: 83px;
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'onum' on;
    color: #FFFFFF;
    padding-bottom: 64px;

    @media (min-width: 984px) and (max-width: 1599px) {
      margin-left: 0px;
      font-size: 18px;
      line-height: 24px;
      padding-top: 70px;
      display: grid;
      grid-template-columns: repeat(8, minmax(10%,1fr));
      grid-column-gap: 30px;
      padding-bottom: 0;
    }

    @media (min-width: 1600px) {
      margin-left: 0px;
      font-size: 24px;
      line-height: 36px;
      padding-top: 70px;
      display: grid;
      grid-template-columns: repeat(8, minmax(10%,1fr));
      grid-column-gap: 30px;
      padding-bottom: 0;
    }

    p {
      font: inherit;
      margin: 0;
      margin-bottom: 53px;

      &:last-of-type {
        margin-bottom: 0px;
      }

      @media (min-width: 984px) {
        margin-bottom: 70px !important;

        &:nth-of-type(1) {
          grid-column: 2/5;
          width: calc(100% + 30px);
        }

        &:nth-of-type(2) {
          grid-column: 6/9;
          width: calc(100% + 30px);
          left: -30px;
          position: relative;
        }

        &:nth-of-type(3) {
          grid-column: 2/5;
          grid-row: 2;
        }
      }
    }
  }

  &--slider {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &--slider-item {
    position: relative;
    display: block !important;
    outline: none;

    img {
      position: relative;
      display: block;
      width: 100%;
    }
  }

  &--slider-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: calc(100% + 103px);
    left: -103px;

    @media (min-width: 984px) {
      grid-row: 4;
      grid-column: 1/7;
      width: calc(100% + 60px);
      left: -60px;
    }
  }

  &--slider-desc {
    position: relative;
    display: block;
    width: 100%;
    text-align: right;
  }

  &--slider-desc-top {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-align: right;
    color: #000000;
    mix-blend-mode: normal;
    padding-bottom: 5px;
    margin-bottom: 3px;
    border-bottom: 1px solid #fff;
  }

  &--slider-desc-bottom {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 9px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
}

.main-link {
  position: relative;
  width: 100%;

  &--next-line {
    position: relative;
    display: inline-block;
    flex: 1;
    padding-right: 20px;
  }

  &--next {
    position: relative;
    width: calc(100% + 15px);
    padding-bottom: 42px;
    grid-column: span 2;
    display: flex;
    align-items: baseline;

    @media (min-width: 984px) {
      width: 100%;
      grid-column: 2/9;
      padding-bottom: 0px;
    }

    .about-link--arrow {
      margin-left: 10px;

      @media (min-width: 984px) {
        margin-left: 15px;
      }
    }

    .about-link {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-end;
      text-decoration: none;
      width: auto;

      &:visited,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}

.about-link {
  position: relative;
  width: 100%;

  &--next {
    position: relative;
    width: calc(100% + 15px);
    padding-top: 42px;
    padding-bottom: 42px;

    @media (min-width: 984px) {
      width: 100%;
      grid-column: 2/9;
      grid-row: 3;
      padding-top: 0px;
    }

    .about-link--arrow {
      margin-left: 10px;

      @media (min-width: 984px) {
        margin-left: 15px;
      }
    }

    .about-link {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-end;
      text-decoration: none;
      width: auto;

      &:visited,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  &--prev {
    position: relative;
    width: calc(100% + 0px);
    left: -15px;
    padding-bottom: 42px;

    @media (min-width: 984px) {
      width: 100%;
      grid-column: 1/4;
      grid-row: 4;
      left: auto;
    }

    .about-link--name {
      text-align: left;
    }

    .about-link--arrow {
      margin-right: 10px;

      @media (min-width: 984px) {
        margin-right: 15px;
      }
    }

    .about-link {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      text-decoration: none;

      &:visited,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  &--name {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
    text-align: right;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'onum' on;
    color: #FFFFFF;

    @media (min-width: 984px) {
      font-size: 52px;
      line-height: 48px;
    }
  }

  &--arrow {
    position: relative;
    display: block;
    height: 33px;
    width: 90px;

    @media (min-width: 984px) {
      width: 108.4px;
      height: 73.87px;
    }

    svg {
      position: relative;
      display: block;
    }
  }
}

.about-map {
  &--wrap {
    position: relative;
    display: block;
    width: calc(100% + 20px);
    height: 460px;
    filter: grayscale(100%);
    padding-bottom: 53px;
    overflow: hidden;

    @media (min-width: 984px) {
      grid-column: 2/9;
      width: calc(100% + 60px);
      grid-row: 2;
      height: auto;
      padding-bottom: 0px;
      padding-top: 71px;

      div:nth-of-type(2) {
        width: calc(100% + 60px) !important;
      }
    }
  }
}

.ymaps-2-1-74-map-copyrights-promo,
.ymaps-2-1-74-copyrights-pane {
  display: none;
}
