.footer-wrap {
  position: relative;
  display: grid;
  padding: 0 20px 18px;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-column-gap: 20px;

  @media (min-width: 984px) {
    height: 200px;
    padding: 48px 60px 38px;
    grid-template-columns: repeat(8, minmax(auto, 1fr));
    grid-column-gap: 30px;
  }
}

.footer-inner {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  grid-column: span 2;

  @media (min-width: 984px) {
    grid-column: span 8;
  }
}

.footer-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;

  &--balk-wrap {
    display: none;
    position: absolute;
    width: calc(((100% - 120px) / 2) - 223px);
    right: -60px;
    bottom: -38px;

    @media (min-width: 984px) {
      display: block;
    }
  }

  &--balk {
    position: relative;
    display: block;
    width: 100%;
  }

  &--socials {
    position: relative;
    display: flex;
    flex-direction: row;

    @media (min-width: 984px) {
      width: 100%;
      border-bottom: 1px solid #fff;
      margin-bottom: 11px;
      padding-bottom: 34px;
    }
  }

  &--socials-item {
    position: relative;
    display: block;
    margin-right: 45px;
    width: 48px;
    height: 48px;

    svg {
      position: relative;
      display: block;
    }
  }

  &--socials-link {
    position: relative;
    display: block;
    width: 100%;
  }

  &--right {
    position: relative;
    display: block;

    @media (min-width: 984px) {
      width: 50%;
    }
  }

  &--left {
    position: relative;
    display: flex;
    flex-direction: row;

    @media (min-width: 984px) {
      width: 50%;
      z-index: 1;
    }
  }

  &--link-wrap {
    position: relative;
    display: block;
    line-height: 12px;

    @media (min-width: 984px) {
      line-height: 12px;
    }

    &:nth-of-type(1) {
      padding-right: 11px;

      @media (min-width: 984px) {
        padding-right: 92px;
      }
    }
  }

  &--link {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;

    @media (min-width: 984px) {
      font-size: 12px;
      line-height: 12px;
    }

    &:visited,
    &:focus,
    &:active {
      color: #000;
      text-decoration: none;
    }
  }

  &--copyright {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-transform: uppercase;

    @media (min-width: 984px) {
      font-size: 12px;
      line-height: 12px;
    }
  }
}
