.header-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 100vh;
  background: #000;
  transition: transform .4s linear;
  transform: translateX(100vw);

  &.is-open {
    transform: translateX(0);
  }

  @media (min-width: 984px) {
    background: #b0b6bb;
    height: auto;
    transform: none;
    padding: 0 60px;
  }
}

.header-inner {
  position: relative;
  height: 100%;
  display: block;
  padding: 0 30px;

  @media (min-width: 984px) {
    border-bottom: 1px solid #fff;
    display: grid;
    padding: 30px 0px;
    grid-template-columns: repeat(8, minmax(auto, 1fr));
    grid-column-gap: 30px;
  }
}

.header-logo {
  display: none;

  @media (min-width: 984px) {
    display: flex;
    align-items: center;
    padding-left: 35px;
    grid-column: span 4;
  }

  &--link {
    position: relative;
    display: block;
    width: 146px;
    height: 44px;
  }

  &--img {
    position: relative;
    display: block;
    width: 100%;
  }

  &--date-wrap {
    display: none;

    @media (min-width: 984px) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &--date {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &--date-separate {
    margin: 0 5px;
    width: 27px;
    height: 54px;

    svg {
      position: relative;
      display: block;
      width: 100%;
    }
  }

  &--date-address {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
}

.header-nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 984px) {
    grid-column: 5 / 9;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    grid-column-gap: 20px;
  }

  &--item {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 35px;

    &:last-of-type {
      padding-bottom: 0px;
    }

    @media (min-width: 984px) {
      padding-bottom: 0px;
    }
  }

  &--link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    height: 60px;
    outline: none;

    @media (min-width: 984px) {
      height: 36px;
    }

    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
    }
  }

  &--item-title {
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
    white-space: nowrap;
    font-size: 32px;
    line-height: 35px;
    color: #fff;

    @media (min-width: 984px) {
      font-size: 18px;
      line-height: 18px;
      border-bottom: 1px solid #000;
    }
  }

  &--item-sub-title {
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    white-space: nowrap;
    padding-top: 8px;

    @media (min-width: 984px) {
      padding-top: 0px;
      font-size: 10px;
      line-height: 10px;
      color: #000;
    }
  }
}
