.header-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 100vh;
  background: #000;
  transition: transform .4s linear;
  transform: translateX(100vw);

  &.is-open {
    transform: translateX(0);
  }

  @media (min-width: 984px) {
    height: auto;
    background: transparent;
    transform: none;
  }
}

.header-inner {
  position: relative;
  height: 100%;
  padding: 0 30px;
  display: block;

  @media (min-width: 984px) {
    display: grid;
    padding: 87px 60px 0;
    grid-template-columns: repeat(8, minmax(auto, 1fr));
    grid-column-gap: 20px;
  }
}

.header-logo {
  display: none;

  @media (min-width: 984px) {
    display: block;
  }

  &--link {
    position: relative;
    display: block;
    width: 56px;
    height: 56px;
  }

  &--img {
    position: relative;
    display: block;
    width: 100%;
  }
}

.header-nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 984px) {
    grid-column: 5 / 9;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    grid-column-gap: 20px;
  }

  &--item {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 35px;

    &:last-of-type {
      padding-bottom: 0px;
    }

    @media (min-width: 984px) {
      padding-bottom: 0px;
    }
  }

  &--link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    height: 60px;
    outline: none;

    @media (min-width: 984px) {
      height: 36px;
    }

    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
    }
  }

  &--item-title {
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
    white-space: nowrap;
    font-size: 32px;
    line-height: 35px;
    color: #fff;

    @media (min-width: 984px) {
      font-size: 18px;
      line-height: 18px;
      color: #000;
    }
  }

  &--item-sub-title {
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    white-space: nowrap;
    padding-top: 8px;

    @media (min-width: 984px) {
      padding-top: 0px;
      font-size: 10px;
      line-height: 10px;
    }
  }
}
