.history-wrap {
  position: relative;
  display: grid;
  padding: 0 20px;
  grid-template-columns: repeat(2,minmax(auto,1fr));
  grid-column-gap: 20px;

  @media (min-width: 984px) {
    padding: 0 60px;
    grid-template-columns: repeat(8, minmax(auto, 1fr));
    grid-column-gap: 30px;
  }
}

.history-inner {
  position: relative;
  display: block;
  grid-column: span 2;
  padding-top: 35px;

  @media (min-width: 984px) {
    grid-column: span 8;
    padding-top: calc(179px + 143px);
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, minmax(10%,1fr));
    grid-column-gap: 30px;
  }
}

.history-slider {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &--wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: calc(100% + 20px);
    margin-bottom: 53px;

    @media (min-width: 984px) {
      grid-row: 1;
      grid-column: 2/9;
      width: calc(100% + 60px);
      margin-bottom: 66px;
    }
  }

  &--desc {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
  }

  &--desc-top {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    mix-blend-mode: normal;
    padding-bottom: 5px;
    margin-bottom: 3px;
    border-bottom: 1px solid #fff;
  }

  &--desc-bottom {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 9px;
    color: #FFFFFF;
    mix-blend-mode: normal;
  }
}

.history-text {
  &--wrap {
    @media (min-width: 984px) {
      grid-row: 2;
      grid-column: 2/9;
      width: 100%;
    }
  }

  &--title {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 92%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (min-width: 984px) {
      font-size: 64px;
      line-height: 59px;
    }
  }

  &--self {
    position: relative;
    display: block;
    margin-left: 83px;
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'onum' on;
    color: #FFFFFF;
    padding-top: 37px;
    padding-bottom: 64px;

    @media (min-width: 984px) {
      margin-left: 0px;
      font-size: 24px;
      line-height: 36px;
      padding-top: 70px;
      display: grid;
      grid-template-columns: repeat(7, minmax(10%,1fr));
      grid-column-gap: 30px;
    }

    p {
      font: inherit;
      margin: 0;
      margin-bottom: 53px;

      @media (min-width: 984px) {
        margin-bottom: 30px !important;
      }

      &:last-of-type {
        margin-bottom: 0px;
      }
    }
  }

  &--block {
    position: relative;
    display: block;
    padding-bottom: 53px;

    @media (min-width: 984px) {
      grid-column: span 7;
      display: grid;
      grid-template-columns: repeat(7, minmax(10%,1fr));
      grid-column-gap: 30px;

      p {
        grid-column: 2/5;
      }
    }
  }

  &--year {
    position: absolute;
    top: 0;
    left: -83px;
    font-family: Editorial Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (min-width: 984px) {
      position: relative;
      left: auto;
      grid-column: 1;
      font-size: 64px;
      line-height: 59px;
    }
  }

  &--pictures-wrap {
    display: none;

    @media (min-width: 984px) {
      position: relative;
      grid-column: 5/8;
      grid-row: 1/5;
      display: block;
      width: 100%;
    }
  }

  &--pictures-single {
    position: relative;
    display: inline-block;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    img {
      position: relative;
      display: block;
      width: 100%;
    }
  }
}
