.main-wrap {
  position: relative;
  display: grid;
  padding: 0 20px;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-column-gap: 20px;

  @media (min-width: 984px) {
    padding: 0 60px;
    grid-template-columns: repeat(8, minmax(auto, 1fr));
  }
}

.main-image {
  position: relative;
  display: block;
  grid-column: span 2;
  width: 100vw;
  height: 100vh;
  left: -20px;
  overflow: hidden;

  @media (min-width: 984px) {
    grid-column: span 8;
    left: -60px;
    background-image: url('./assets/background.png');
    background-size: cover;
    background-position: center center;
  }

  &--item {
    position: absolute;
    display: block;
    width: 105%;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
  }
}

.main-date {
  font-family: Editorial Grotesk ;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.05em;
  font-feature-settings: 'tnum' on, 'onum' on;
  color: #FFFFFF;

  &--wrap {
    position: absolute;
    left: 50%;
    top: 60vh;
    transform: translateX(-50%);
    text-align: center;
  }

  &--mutabor {
    position: relative;
    display: block;
    width: 70px;

    @media (min-width: 984px) {
      width: 70px;
      margin: 0 auto;
      padding-top: 87px;
    }
  }
}

.main-collapsible {
  &--wrap {
    position: relative;
    display: block;
    grid-column: span 2;

    @media (min-width: 984px) {
      grid-column: span 8;
    }
  }

  &--wrap-inner {
    display: flex;
    flex-direction: column;

    @media (min-width: 984px) {
      padding-top: 80px;
      padding-bottom: 170px;
    }
  }

  &--desc-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    grid-column: span 2;

    @media (min-width: 984px) {
      grid-column: span 8;
      padding-top: 200px;
    }
  }

  &--desc-arrow {
    position: relative;
    width: 40%;
    padding-right: 36px;

    svg {
      position: relative;
      display: block;
      width: 100%;

      &.animate path {
        animation: draw 1s;
        animation-fill-mode: forwards;
      }

      &.animateReverse path {
        animation: drawReverse 1s;
        animation-fill-mode: forwards;
      }
    }

    path {
      stroke-dasharray: 518;
      stroke-dashoffset: 518;
    }
  }

  &--desc-text {
    position: relative;
    width: 60%;
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0;
    transition: all 1s linear;
  }

  &--item {
    position: relative;
    display: block;
    padding-bottom: 15px;

    @media (min-width: 984px) {
      padding-bottom: 30px;
    }

    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 2;
    }

    &:nth-of-type(3) {
      order: 3;
    }

    &:nth-of-type(4) {
      order: 4;
    }

    &:nth-of-type(5) {
      order: 5;
    }

    &:nth-of-type(6) {
      order: 6;
    }

    &.is-opened {
      order: 0;
    }
  }

  &--item__trigger {
    position: relative;
    display: inline-block;
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'onum' on;
    color: #000000;
    cursor: pointer;
    transition: color .1s linear;

    @media (min-width: 984px) {
      font-size: 88px;
      line-height: 88px;
    }

    &:hover {
      color: #fff;
    }

    &.is-open {
      color: #fff;
    }
  }

  &--item__contentInner {
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;

    @media (min-width: 984px) {
      margin-bottom: 30px;
    }
  }

  &--artist {
    position: relative;
    display: inline-block;
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 36px;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'onum' on;
    color: #fff;
    transition: color .1s linear;

    @media (min-width: 984px) {
      font-size: 36px;
      line-height: 48px;
    }

    &:hover {
      color: #000;
    }
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 518;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawReverse {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 518;
  }
}
