.timeline-wrap {
  position: relative;
  display: grid;
  padding: 0 20px;
  grid-template-columns: repeat(2,minmax(auto,1fr));
  grid-column-gap: 20px;

  @media (min-width: 984px) {
    padding: 0 60px;
    grid-template-columns: repeat(8, minmax(auto, 1fr));
    grid-column-gap: 30px;
    padding-bottom: 150px;
  }
}

.timeline-inner {
  position: relative;
  display: block;
  grid-column: span 2;
  padding-top: 35px;

  @media (min-width: 984px) {
    grid-column: span 8;
    padding-top: calc(117px + 70px);
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, minmax(10%,1fr));
    grid-column-gap: 30px;
  }
}

.timeline-header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,minmax(45%,1fr));
  grid-column-gap: 20px;
  grid-column: 1/3;

  @media (min-width: 984px) {
    grid-column: span 8;
    grid-template-columns: repeat(8, minmax(10%,1fr));
    grid-column-gap: 30px;
    display: grid;
  }

  &--title {
    position: relative;
    grid-column: span 2;
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'onum' on;
    color: #000000;

    @media (min-width: 984px) {
      font-size: 23px;
      line-height: 36px;
      color: #FFFFFF;
      font-size: 64px;
      line-height: 64px;
      letter-spacing: 0;
      grid-column: 2/9;
    }
  }

  &--showcases {
    position: relative;
    grid-column: span 2;
    display: none;

    @media (min-width: 984px) {
      display: block;
      padding-top: 50px;
      grid-column: 2/9;
    }
  }

  &--showcases-title {
    position: relative;
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &--showcases-wrap {
    position: relative;
    display: block;

    @media (min-width: 984px) {
      padding-top: 12px;
    }
  }

  &--showcases-single {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'onum' on;
    color: #FFFFFF;
    transition: color .1s linear;
    cursor: pointer;

    &:hover {
      color: #000;
    }

    &.highlight {
      color: #000;
    }
  }
}

.timeline-table {
  &--wrap {
    position: relative;
    grid-column: span 2;

    @media (min-width: 984px) {
      width: calc(100% - (((100% - 210px) / 8) / 2));
      margin-left: auto;
      grid-column: span 8;
      margin-top: 35px;
      border-top: 1px solid #fff;
      display: grid;
      grid-template-columns: repeat(5, 20%);
    }

    &.is-desktop {
      display: none;

      @media (min-width: 984px) {
        display: grid;
      }
    }

    &.is-mobile {
      display: block;
      padding-bottom: 50px;

      @media (min-width: 984px) {
        display: none;
      }
    }
  }

  &--header {
    @media (min-width: 984px) {
      grid-column: span 5;
      display: grid;
      grid-template-columns: repeat(5, 20%);
    }
  }

  &--header-cell {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (min-width: 984px) {
      height: 66px;
      text-align: left;
      padding: 17px 24px;
      display: flex;
      align-items: flex-end;
      font-size: 18px;
      line-height: 18px;
      border-right: 1px solid #fff;
      margin-right: -1px;

      &:nth-of-type(1) {
        margin-left: 50%;
        margin-right: 0;
      }

      &:last-of-type {
        border-right: 1px solid transparent;
      }
    }
  }

  &--day-wrap {
    position: relative;

    @media (min-width: 984px) {
      grid-column: span 5;
      display: grid;
      grid-template-columns: repeat(5, 20%);
      border-top: 1px solid #fff;

      &:last-of-type {
        border-bottom: 1px solid #fff;
      }
    }
  }

  &--dayweek {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    color: #000000;

    @media (min-width: 984px) {
      position: absolute;
      transform: translate(-50%,0) rotate(-90deg);
      transform-origin: top center;
      top: calc(125px + 30px);
      height: 45px;
      width: 250px;
    }

    span {
      position: relative;
      display: block;
    }
  }

  &--day-hour {
    position: relative;
    display: flex;
    align-items: flex-end;
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #FFFFFF;

    @media (min-width: 984px) {
      display: flex;
      align-items: flex-end;
      min-height: 66px;
      padding: 17px 24px;
      grid-column: 1;
      margin-left: 50%;
      width: 50%;
      border-right: 1px solid #fff;
      border-top: 1px solid #fff;
      margin-right: -1px;

      &:nth-of-type(2) {
        border-top: 1px solid transparent;
      }
    }
  }

  &--artist {
    position: relative;
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    border: 1px solid #fff;
    margin-bottom: -1px;
    margin-right: -1px;
    z-index: 2;
    transition: background-color .3s linear;

    @media (min-width: 984px) {
      display: flex;
      align-items: flex-end;
      min-height: 66px;
      padding: 17px 24px;
    }

    a {
      position: relative;
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      color: #FFFFFF;
      text-decoration: none;
    }

    a:hover,
    a:focus,
    a:visited {
      color: #FFFFFF;
      text-decoration: none;
    }

    &.highlight {
      background-color: rgba(0,0,0, .5);
      z-index: 1;
    }
  }

  &--dates {
    display: block;
    padding-top: 16px;
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #000000;
    position: sticky;
    top: 34px;
    background-color: #b0b6bb;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    grid-column: span 2;
    z-index: 2;
  }

  &--stage-name {
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: sticky;
    top: 0;
    background-color: #b0b6bb;
    padding-top: 18px;
    grid-column: span 2;
    z-index: 2;
  }

  &--stage-block {
    position: relative;
    display: grid;
    grid-template-columns: 70px 1fr;
  }

  &--dates-hour {
    position: relative;
    grid-column: 1;
    height: 40px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    padding-right: 18px;
    justify-content: flex-end;
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.05em;
    color: #FFFFFF;
  }

  &--dates-artist {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    grid-column: 2;
    font-family: Editorial Grotesk ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    padding-left: 18px;
    border-bottom: 1px solid #fff;
  }
}

.timeline-image {
  position: relative;
  display: block;
  width: 100%;
  grid-column: span 2;

  @media (min-width: 984px) {
    grid-column: span 8;
  }
}
